<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="conectar" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DESKTOP-QLHI1BA)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=Ingresar nombre de la conexion)));User Id=Ingresar usuario;Password=Ingresar contraseña;"/>
  </connectionStrings>
</configuration>